a {
  text-decoration: none;
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

button {
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0px 0px 0px 2px var(--color-primary-transparent);
}

button:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 4px var(--color-primary-transparent);
}